body{
    font-family: sans-serif;
}

/* CABEZERA */
header nav{
    padding: 0 10%;
}
header nav *{
    color: grey;
    text-decoration: none;
    margin: 0% 1%;
}
header *{
    display: inline;
    align-items: baseline;
    
}
header #icon{
    background-color: white;
    border: 0px;
}

header #logo{
    width: 130px;
    margin: 0 10%;
}
/*#39374D*/
#botoCompra{
    border-radius: 10px;
    background-color: #00D664;
    border: none;
    color: white;
    text-align: center;
    padding: 15px;
}
/* FINAL CABEZERA */

/* IMAGEN GRANDE */
#imagenGrande{
    width: 100%;
}
/* FINAL IMAGEN GRANDE */


/* LOGOS */
#logos{
    margin: 1%;
}

#logos img{
    height: 150px;
    margin: 0 5%;
}
/* FINAL LOGOS */

/* DESCRIPCION */
#descripcion h2{
    color: #1eff38af;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

#descripcion h1{
    /*color: darkgrey;*/
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    padding: 0% 35%;
}

#descripcion h1 span{
    font-weight: bold;
}

#descripcion p{
    color: #748494;
    font-size: 21px;
    text-align: center;
    margin: 0 30%;
}

#descripcion > div{
    text-align: center;
}
#descripcion > div > div{
    display: inline-block;
    font-size: 18px;
}

#descripcion h3{
    color: black;
    text-transform: capitalize;
}

#descripcion hr{
    border: 3px solid lightgray;
    border-radius: 5px;
    padding: 0;
    width:10%
}

#icono{
    font-size: 32px;
    border-radius: 50%;
    color: white;
    background-color: #00D664;
}
/* FINAL DESCRIPCION */

/* MÒBIL */
#mobil{
    text-align: center;
}

#mobil > div{
    display: inline-block;
}

#mobil > p{
    color:#748494;
}
/* FINAL MÒBIL */