body{
    font-family: sans-serif;
    background-color: #FFFFFF;
}

/* CABEZERA */
header nav{
    padding: 0 10%;
}
header nav *{
    color: grey;
    text-decoration: none;
    margin: 0% 1%;
}
header *{
    display: inline;
    align-items: baseline;
    
}
header #icon{
    background-color: white;
    border: 0px;
}

header #logo{
    width: 130px;
    margin: 0 10%;
}
#botoCompra{
    border-radius: 10px;
    background-color: #00D664;
    border: none;
    color: white;
    text-align: center;
    padding: 15px;
}
/* FINAL CABEZERA */

/* IMAGEN GRANDE */
#imagenGrande{
    width: 100%;
}

#contImagenGrande{
    width: 100%;
    height: 700px;
    background-image: url('../img/imagen_grande.jpg');
    background-size: 100% 100%;
}
/* FINAL IMAGEN GRANDE */


/* LOGOS */
#logos{
    margin: 1%;
}

#logos img{
    height: 150px;
    margin: 0 5%;
}
/* FINAL LOGOS */

/* DESCRIPCION */
#descripcion h2{
    color: #1eff38af;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

#descripcion h1{
    /*color: darkgrey;*/
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    padding: 0% 35%;
}

#descripcion h1 span{
    font-weight: bold;
}

#descripcion p{
    color: #748494;
    font-size: 21px;
    text-align: center;
    margin: 0 30%;
}

#descripcion > div{
    text-align: center;
    align-items: center;
}
#descripcion > div > div{
    display: inline-block;
    font-size: 18px;
}

#descripcion h3{
    color: black;
    text-transform: capitalize;
}

#descripcion hr{
    border: 3px solid lightgray;
    border-radius: 5px;
    padding: 0;
    width:10%
}

#icono{
    margin-left: auto;
    margin-right: auto;
    background-color:#fff;
    border:1px solid lightslategray;    
    height:70px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:70px;
    text-align: center;
    color: white;
    background-color: #00D664;
}
/* FINAL DESCRIPCION */

/* MÒBIL */
#mobil{
    text-align: center;
    height: 900px;
    background-image: url('../img/fondo_video.png');
    background-size: 100% 100%;
}

#mobil > div{
    display: inline-block;
}

#mobil > p{
    color:#748494;
}
/* FINAL MÒBIL */

/* STATS */
#stats{
    margin-left: 7%;
}
#stats h2{
    color: #1eff38af;
    font-size: 20px;
    text-transform: uppercase;
    text-align: justify;
}
#stats h1{
    /*color: darkgrey;*/
    font-size: 50px;
    text-decoration: none;
    font-weight: normal;
}
#stats h1 span{
    font-weight: bold;
}
#stats p{
    color: #748494;
    font-size: 21px;
}
#stats > div > div span{
    color: blueviolet;
}
#nums > div{
    display: inline-block;
}
#stats > div{
    display: inline-block;
}
#detalls{
    margin: 5% 15%;
}
#detalls > div{
    display: inline-block;
}
#detalls > div > div{
    display: inline-block;
}
#logoCircular{
    background-color:#fff;
    border:1px solid lightslategray;    
    height:100px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
    text-align: center;
}
#logoCircular > i{
    font-size: 50px;
}

/* FINAL STATS */

/* COMENTARIS */
/* FINAL COMENTARIS*/

/* GET STARTED*/
#getStarted h2{
    color: #1eff38af;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
#getStarted h1{
    font-weight:lighter;
    font-size: 50px;
    text-align: center;
    font-weight: normal;
    padding: 0% 35%;
}
#getStarted > h1 > span{
    font-weight: bolder;
}
#getStarted > div{
    text-align: center;
}
#getStarted > div > img{
    margin: 2%;
}
@media only screen and (max-width: 1001px){
    #getStarted > div > img{
        display: block ;
        margin-left: auto;
        margin-right: auto;
    }
}
/* FINAL GET STARTED */

/* DESCARREGA */
#descarrega{
    height: 800px;
    background-image: url('../img/descarrega.jpg');
    background-size: 100% 100%;
    padding-top: 15%;
}
#descarrega h1{
    font-weight:lighter;
    font-size: 50px;
    text-align: left;
    font-weight: normal;
    margin-left: 4%;
    margin-right: 55%;
}
#descarrega > h1 > span{
    font-weight: bolder;
}
#descarrega p{
    font-size: 21px;
    margin-right: 60%;
    margin-left: 5%;
}
/* FINAL DESCARREGA */

/* FOOTER */
footer{
    background-color: #F7F4FB;
}
/* FINAL FOOTER*/