/* ------------------------------------------------- */
/* Main styles                                       */
/* ------------------------------------------------- */
* {
    /*outline: 0.5px solid red !important;*/
    margin: 0px;
    padding: 0px;
 }
 
 body {
    margin: 0.5rem;
    padding: 0.5rem;
 }
 